body {
    font-family:sans-serif;
}
.headline {
    display: none;
}
.navbar-brand {
    background-color: #ffffff;
    margin:20px auto;
    padding: 0;
    width: 100%;
}
.navbar-brand img {
    width:200px;
    display:block;
    padding:0;
    margin:0 auto;
    border: 0;
}
.navbar-brand .lead {
    font-style:italic;
    font-size: 0.75em;
    text-align:center;
    font-weight: 100;
}
.navbar {
    background-color: #ffffff;
    margin:0 auto;
    padding: 0;
    width: 300px;
}
.navbar-nav {
    clear:both;
    flex-direction: row;
    margin: 0 auto;
}
.navbar-nav li {
    padding: 5px 20px;
    background-color: #89e6e1;
}
.navbar-nav li:hover {
    filter: brightness(90%);
}
.navbar-nav li.active {
    filter: brightness(90%);
}
.border-right {
    border-right: 1px solid #000000!important;
}
#main-content p {
    width:300px;
    margin:50px auto 30px auto;
    text-align: center;
}
/* form */
form {
    display: block;
    width: 300px;
    margin: 0 auto;
}
/* form fields */
.form-field {
    margin-bottom: 10px;
}
.form-field.last {
    margin-bottom: 30px;
}
.form-field label {
    margin: 5px 0 0 0;
    font-size:1.2em;
}
.form-field input {
    width: 100%;
    border: 2px solid #89e6e1;
    padding: 10px;
}
.form-field span {
    margin: 5px 0;
    color:#da0300;
    font-size:0.8em;
}
.form-field span.error {
    display:none;
}
.form-field span.error-show {
    display:inline-block;
}

/* form buttons */
#form-buttons {
    width:300px;
    margin:0 auto;
    text-align:center;
}
#form-buttons button {
    width:150px;
    margin:0 auto;
    border: none;
    padding: 15px 0;
    margin-bottom: 10px;
    cursor:pointer;
}
button#login-button {
    background-color:#89e6e1;
}
button#login-button:hover {
    filter: brightness(90%);
}
button#create-button {
    background-color:#ebebeb;
}
button#create-button:hover {
    filter: brightness(90%);
}
#appointmentInfo {
    margin: 20px auto;
    width: 300px;
    text-align: center;
}
.container.appointment-page {
    margin: 20px auto;
    width: 300px;
    text-align: center;
    padding:0;
}
.app {
    width:300px;
    margin:0 auto;
}
.appointment-page textarea {
    width:300px;
    padding: 10px 20px;
    font-weight:100;
    border: 2px solid #89e6e1;
}
.appointment-page h2 {
    width: 300px;
    margin: 40px auto 10px auto;
    font-size: 1.3em;
    font-weight: 300;
    text-align:center;
}
.appointment-page .buttons {
    width: 300px;
    margin:5px auto 20px auto;
    overflow:hidden;
}
.appointment-page button {
    border:none;
    color: #000000;
    cursor:pointer;
}
button#start-record-btn {
    float:left;
    background-color: #89e6e1;
    margin-right: 5%;
    padding: 24.5px 15px;
    font-size:1em;
    width:30%;
}
button#start-record-btn:hover {
    filter: brightness(90%);
}
button#pause-record-btn {
    background-color: #ebebeb;
    color:#000000;
    float:left;
    padding: 24.5px 15px;
    width:30%;
    font-size:1em;
}
button#pause-record-btn:hover {
    filter: brightness(90%);
}
button#save-note-btn {
    float:right;
    background-color: #da0300;
    color:#ffffff;
    padding: 16.5px 15px;
    width:30%;
}
button#save-note-btn:hover {
    filter: brightness(90%);
}
.appointment-page h3 {
    margin: 30px auto 10px auto;
    font-size: 1.3em;
    font-weight: 300;
}

#notesContainer {
    width: 300px;
    margin: 50px auto 80px auto;
}
#notes li.note {
    background-color: #ebebeb;
    padding:10px;
    margin:10px 0;
}
#notes li.note:hover {
    filter: brightness(90%);
}
#notes span.date {
    margin-bottom:20px;
}

#joke-container {
    background-color: #ebebeb;
    padding: 10px 10px 20px 10px;
    margin: 50px auto 30px auto;
    width: 300px;
}
#joke-container h3 {
    margin: 0 auto 20px auto;
    background-color: #fff;
    padding: 10px 0;
}

#joke-container #setup {
    margin-bottom: 15px;
}
form.medication-name {
    width:300px;
    margin:0 auto;
    background-color: #89e6e1;
    padding: 10px 10px 20px 10px;
}
form.medication-name h3 {
    margin: 0 auto 20px auto;
    background-color: #fff;
    padding: 10px 0;
}
#newMedication {
    text-transform: uppercase;
}
#medication-input {
    border:0;
    margin-top: 5px;
    font-weight: 100;
    padding:9px;
}
.medication-name #submit {
    background-color:#ebebeb;
    padding:10px;
    border:0;
}
.medication-name #submit:hover {
    filter:brightness(90%);
}
form.medication-name img {
    margin-top: 20px;
}
.delete-note {
    color: #da0300;
}
.delete-note:hover {
    text-decoration:underline;
    color: #da0300;
}
#addmedication {
    margin: 20px 0 10px 0;
}
footer {
    width:100%;
    margin:20px auto;
    text-align:center;
}

@media only screen and (min-width: 768px) {
    .navbar,
    #main-content p,
    .container.appointment-page,
    #appointmentInfo,
    .app,
    .appointment-page textarea,
    .appointment-page h2,
    .appointment-page .buttons,
    #notesContainer,
    li.note,
    #joke-container,
    form.medication-name {
        width: 600px;
    }
    button#start-record-btn {
        padding: 20px 15px;
    }
    button#pause-record-btn {
        padding: 20px 15px;
    }
    button#save-note-btn {
        padding: 20px 15px;
    }
}

